 /* Google fonts import Lemon styles */
 @import url('https://fonts.googleapis.com/css2?family=Lemon');

 /* Google fonts import Lato styles */

 @import url('https://fonts.googleapis.com/css2?family=Lato');

 /* Asterisk wildcard selector to override default styles added by the browser */
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }



 /*General styles */
 body {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     /*Generic project styles */

     font-family: "Lato", sans-serif;
 }

 /* Header */
 header {
     color: beige;
     background-color: rgb(0, 0, 0);
     z-index: 91;
     width: 100%;
     padding: 0 1rem;
     position: fixed;
     /* show menu in a row*/
     display: flex;

     justify-content: space-between;
     box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .8);
     /* show menu in vertical alignment*/
     align-items: baseline;
     height: auto;
 }



 /* Title - cover's slogan */
 h1,
 h2,
 h5 {
     color: beige;
     font-family: "Lemon", sans-serif;
     text-transform: uppercase;
     letter-spacing: 2px;
 }

 #main_menu {
     list-style-type: none;
     letter-spacing: 2px;
     font-size: 112%;
 }

 #main_menu>li {
     margin-top: 1em;
     /* margin-bottom: 1em; */
 }

 .active_link {
     /* border: 1px solid rgb(34, 113, 224);
     border-radius: 5px; */
     box-shadow: 2px 2px 2px 1px rgba(230, 230, 14, 0.8);
 }



 header a {
     text-decoration: none;
     color: inherit;
     box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .8);
 }

 hr {
     color: rgb(34, 113, 224);
     size: 2px;
 }

 /* Navbar styles with dropdown toggle */
 nav {
     background-color: rgb(0, 0, 0);
     position: absolute;
     left: 0;
     width: 100%;
     display: none;
     /* show the menu down the H1-title    */
     top: 100%;
     padding: 0 1rem;
     /* box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, .8); */
 }

 /* Nav toggle -->> show the menu when clicking */
 #nav-toggle:checked~nav {
     display: block;
 }

 /* hide the checkbox */
 #nav-toggle {
     display: none;
 }

 /* increasing the size of the checkbox */
 .nav-toggle-label {
     font-size: 1.5rem;
 }



 /* Main content */
 main {
     /* background-color: rgb(231, 210, 24); */
     /* Make main element take up any surplus space to push footer down */
     flex: 1 0 auto;

     margin-top: 200px;

 }

 /* core_img section */
 #core_img {
     height: 900px;
     width: 100%;
     /* background-color: #0fc36c; */
     background: url("../images/full_energy_body.jpg") no-repeat center center;
     position: relative;
     /*  /cover   */
     /* display: inline-block; */

 }

 #cover_slogan {

     background-color: rgba(0, 0, 255, .4);

     font-family: "Lemon", sans-serif;
     font-size: 160%;
     position: absolute;
     bottom: 300px;
     width: 80%;
     min-height: 200px;
     padding-top: 40px;
     padding-left: 10px;
 }

 #Why_Love_Fasting {
     background-color: rgba(0, 0, 255, .4);
 }

 /* fasting_reasons section */
 #fasting_reasons {
     width: 91%;
     margin: 21px auto;
 }

 #fasting_reasons h2 {
     margin-bottom: 21px;
     text-align: center;
     font-size: 280%;
 }


 #fasting_benefits-physical>div,
 #fasting_benefits-mental>div {
     line-height: 21px;
     margin-bottom: 21px;
 }

 #fasting_benefits p {
     padding: 0 21px;
 }

 #fasting_benefits hr {
     border-top: 1px solid rgba(0, 0, 255, .4);
     margin: 5px 0;
 }


 /* the 7 energy balls image */

 #balls_cover_bg {

     background: url("../images/fasting_reasons.png") no-repeat center center;
     height: 90vw;
     width: 90vw;
     margin-bottom: 20px;
     /* Makes the square image into a circle */
     border-radius: 50%;
     max-width: 300px;
     max-height: 300px;

 }

 #balls_cover_fasting_page_bg {

     background: url("../images/fruits_heart.jpeg") no-repeat center center;
     height: 90vw;
     width: 90vw;
     margin-bottom: 20px;
     /* Makes the square image into a circle */
     border-radius: 90%;
     max-width: 300px;
     max-height: 300px;

 }


 /* Fasting and Meetup Times section */
 #Fasting_times {
     background: url('../images/heart1.jpg') no-repeat center/cover;
     /* Handles responsivity without the need for a media query */
     display: flex;
     flex-wrap: wrap;
 }

 #Fasting_times div {
     color: #fafafa;
     background-color: rgba(0, 0, 0, .6);
     padding: 15px;
     text-align: center;
     /* This will not wrap on screens of less than 400px wide.
    Each div will expand to fill the available space on its row */
     flex-basis: 200px;
     flex-grow: 1;
     /* Creates a grid of meetup time divs over the background image */
     border: 2px solid white;
 }

 #Fasting_times h3 {
     /* Override the heading colour set in general styles */
     color: #0fd140;
 }

 #Fasting_meetups {
     background-color: rgba(0, 0, 255, .5);
 }

 /* fasting world page */
 #fasting_world_photos img {
     width: 100%;
     line-height: 1em;
 }

 #fasting_world_photos {
     line-height: 0;
 }

 /* Footer */
 footer {
     background-color: black;

 }

 /* Social-networks-link icons*/
 #social-networks-links {

     list-style-type: none;
     text-align: center;
     padding: 7px 0;
     display: flex;
     justify-content: space-evenly;


 }

 #social-networks-links i {
     font-size: 160%;
     padding: 5%;
     color: #161fbd;

 }

 #social-networks-links-img {
     /* Makes the square image into a circle */
     border-radius: 40%
 }

 #fasting_benefits-image {

     display: flex;
     align-items: center;
     justify-content: center;
 }

 /* Dealing with different Devices and Screen Sizes displaying - Media query: tablets and larger (768px and up) */
 @media screen and (min-width: 768px) {

     /* Header */
     nav {
         display: block;
         position: relative;
         box-shadow: none;
         width: fit-content;
         padding-right: 1rem;
     }


     #menu {
         display: flex;
     }

     #menu>li {
         padding-left: 1rem;
     }


     .nav-toggle-label {
         display: none;
     }

     #fasting_logo {
         font-size: 290%;
         line-height: 80px;
         margin: 0 0.5rem;
     }

     /* Main content */
     main {
         /* Push main content down to accommodate larger header */
         margin-top: 79px;
     }

     #cover_slogan {

         width: 50%;
         right: 30px;

     }

     /* fasting_reasons section */
     #benefits-physical,
     #fasting_benefits-mental {
         display: flex;
         flex-direction: column;
         width: 100%;
     }

     #fasting_benefits-physical>div,
     #fasting_benefits-mental>div {
         width: 75%;
     }

     #fasting_benefits-mental>div {
         text-align: end;
         align-self: flex-end;
     }


     /* fasting world photos */
     #fasting_world_photos {
         column-count: 3;
     }

 }


 /* Media query: large or landscape phones (576px and up) */
 @media screen and (min-width: 576px) {
     #fasting_world_photos {
         column-count: 2;
         column-gap: 0;
     }
 }

 /* enable it , only if we need to active them on all devices sizes  */
 /* #main_menu a:hover {
     box-shadow: 2px 2px 2px 1px rgba(230, 230, 14, 0.8);
 } */



 /* Large devices (laptops and desktops, 992px and up) */
 @media screen and (min-width: 992px) {
     #main_menu a:hover {
         /* border: 10px solid #ffffff; */
         box-shadow: 2px 2px 2px 1px rgba(230, 230, 14, 0.8);
     }


     #fasting_world_photos {
         column-count: 4;
     }
 }


 /* Make the image located in the middle of the text. besides, align the text to both sides */

 @media screen and (min-width: 1200px) {

     /* Reasons section */
     #fasting_benefits {
         display: flex;
         flex-direction: row;
     }

     #fasting_benefits>div {
         flex: 1;
     }

     #fasting_benefits-image {
         order: 0
     }

     #fasting_benefits-mental {
         order: 1;
     }

     #fasting_benefits-mental>div {
         align-self: flex-start;
     }

     #fasting_benefits-physical>div {
         align-self: flex-end;
     }
 }